body{
    background-color: #DED9E2;
    font-family: 'Times New Roman', Times, serif;
}
button{
    border-radius: 20%;
    size: 40px;
    text-align: center;
  padding: 15px 25px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #A68CEF;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
button:hover {background-color: #8410f9}

button:active {
  background-color: #8410f9;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
form{
    display: inline;
    text-align: center;
}

.container{
    display: block;
    text-align: center;
    width:175px;
    margin:auto;
    padding-top:10px;
}
h2{
    color: #8410f9;
    font-size: 35px;
    text-decoration: underline;
    text-align: center;
    margin-block-start: 0em !important;
    margin-block-end: 0.5em !important;
}
img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:40%;
    border: 10px solid #C0B5DD;
    border-radius: 10px;
    margin-bottom: 10px;
    
}
.result{
    text-align: center;
    font-size: 20px;
}
details > summary {
  padding: 20px;
  width: 200px;
  background: rgb(255,218,5);
  background-color: #CF9FFF;
  border: none;
  box-shadow: 1px 1px 2px #bbbbbb;
  cursor: pointer;
}

 details > p {
    background-color: white;
    width: 250px;
    padding: 2em;
    margin:0;
    box-shadow: 1px 1px 2px #bbbbbb;
    font-family:'Nunito', Arial ;
    position:relative;
  }
details>summary:hover {background-color: #8410f9}  
.social-icon{
  color: rgb(76, 76, 194);
  transition: color 0.2s;
  font-size: 50px;
  text-decoration: none;
}
.social-icon:hover{
  color:blue
}
.git{
  color: rgb(87, 85, 85);
  transition: color 0.2s;
  font-size: 50px;
}
.git:hover{
  color:black;
}
body {
  background-image: url('https://img.freepik.com/free-vector/festive-blurred-lights_53876-89104.jpg?w=996&t=st=1668019024~exp=1668019624~hmac=938636c2be5447934cf91cc0fbb1647a77ff8d056c6e940c5fb05aaa86032700');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
  width:650px
}
.alert.info {background-color: #368faf;}
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover {
  color: black;
}